@font-face {
    font-weight: 400;
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #cacaca;
    background-color: #08020d;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;

}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;

}

@media (max-width: 450px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
    }

    h2 {
        font-size: 18px;
        line-height: 27px;
    }
}